
.gitattributes
*/.bin
*/.v2
*/.vsidx
*/.props
*/.dll
.vs/RestApiDemo/v17/*

*.bin
*.v2
*.dll
*.pdb
*.vsidx
*.props
*.targets
*.cache
*.BuildWithSkipAnalyzers
*.CopyComplete
*.editorconfig
RestApiDemo/obj/RestApiDemo.csproj.nuget.dgspec.json
RestApiDemo/obj/Debug/net6.0/staticwebassets.build.json
RestApiDemo/obj/Debug/net6.0/RestApiDemo.sourcelink.json
RestApiDemo/obj/Debug/net6.0/RestApiDemo.MvcApplicationPartsAssemblyInfo.cs
RestApiDemo/obj/Debug/net6.0/RestApiDemo.GlobalUsings.g.cs
RestApiDemo/obj/Debug/net6.0/RestApiDemo.csproj.FileListAbsolute.txt
RestApiDemo/obj/Debug/net6.0/RestApiDemo.AssemblyInfo.cs
RestApiDemo/obj/Debug/net6.0/apphost.exe
RestApiDemo/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
RestApiDemo/obj/project.assets.json
RestApiDemo/bin/Debug/net6.0/RestApiDemo.exe
RestApiDemo/bin/Debug/net6.0/RestApiDemo.runtimeconfig.json
RestApiDemo/bin/Debug/net6.0/RestApiDemo.deps.json
RestApiDemo/bin/Debug/net6.0/appsettings.json
RestApiDemo/bin/Debug/net6.0/appsettings.Development.json
