
.gitattributes
.vs/ProjectEvaluation/restapidemo.metadata.v7.bin
.vs/ProjectEvaluation/restapidemo.projects.v7.bin
.vs/RestApiDemo/DesignTimeBuild/.dtbcache.v2
.vs/RestApiDemo/FileContentIndex/8b9208a5-7fd5-467a-aece-d7f72189a569.vsidx
.vs/RestApiDemo/FileContentIndex/9ff01646-ad7b-4301-af7f-081ab75eacc4.vsidx
.vs/RestApiDemo/FileContentIndex/baea0964-fa43-400a-b4c9-4938321eaa3f.vsidx
.vs/RestApiDemo/FileContentIndex/dbe83144-65f0-4a4a-9cf2-2176844e7d3e.vsidx
.vs/RestApiDemo/FileContentIndex/e919e993-e67e-48e3-9b1a-80ffc7bb374d.vsidx
.vs/RestApiDemo/v17/.futdcache.v2
.vs/RestApiDemo/v17/.suo
RestApiDemo/bin/Debug/net6.0/appsettings.Development.json
RestApiDemo/bin/Debug/net6.0/appsettings.json
RestApiDemo/bin/Debug/net6.0/Microsoft.OpenApi.dll
RestApiDemo/bin/Debug/net6.0/RestApiDemo.deps.json
RestApiDemo/bin/Debug/net6.0/RestApiDemo.dll
RestApiDemo/bin/Debug/net6.0/RestApiDemo.exe
RestApiDemo/bin/Debug/net6.0/RestApiDemo.pdb
RestApiDemo/bin/Debug/net6.0/RestApiDemo.runtimeconfig.json
RestApiDemo/bin/Debug/net6.0/Swashbuckle.AspNetCore.Swagger.dll
RestApiDemo/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerGen.dll
RestApiDemo/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerUI.dll
RestApiDemo/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
RestApiDemo/obj/Debug/net6.0/apphost.exe
RestApiDemo/obj/Debug/net6.0/ref/RestApiDemo.dll
RestApiDemo/obj/Debug/net6.0/refint/RestApiDemo.dll
RestApiDemo/obj/Debug/net6.0/RestApiDemo.AssemblyInfo.cs
RestApiDemo/obj/Debug/net6.0/RestApiDemo.AssemblyInfoInputs.cache
RestApiDemo/obj/Debug/net6.0/RestApiDemo.assets.cache
RestApiDemo/obj/Debug/net6.0/RestApiDemo.csproj.AssemblyReference.cache
RestApiDemo/obj/Debug/net6.0/RestApiDemo.csproj.BuildWithSkipAnalyzers
RestApiDemo/obj/Debug/net6.0/RestApiDemo.csproj.CopyComplete
RestApiDemo/obj/Debug/net6.0/RestApiDemo.csproj.CoreCompileInputs.cache
RestApiDemo/obj/Debug/net6.0/RestApiDemo.csproj.FileListAbsolute.txt
RestApiDemo/obj/Debug/net6.0/RestApiDemo.dll
RestApiDemo/obj/Debug/net6.0/RestApiDemo.GeneratedMSBuildEditorConfig.editorconfig
RestApiDemo/obj/Debug/net6.0/RestApiDemo.genruntimeconfig.cache
RestApiDemo/obj/Debug/net6.0/RestApiDemo.GlobalUsings.g.cs
RestApiDemo/obj/Debug/net6.0/RestApiDemo.MvcApplicationPartsAssemblyInfo.cache
RestApiDemo/obj/Debug/net6.0/RestApiDemo.MvcApplicationPartsAssemblyInfo.cs
RestApiDemo/obj/Debug/net6.0/RestApiDemo.pdb
RestApiDemo/obj/Debug/net6.0/staticwebassets.build.json
RestApiDemo/obj/Debug/net6.0/staticwebassets/msbuild.build.RestApiDemo.props
RestApiDemo/obj/Debug/net6.0/staticwebassets/msbuild.buildMultiTargeting.RestApiDemo.props
RestApiDemo/obj/Debug/net6.0/staticwebassets/msbuild.buildTransitive.RestApiDemo.props
RestApiDemo/obj/project.assets.json
RestApiDemo/obj/project.nuget.cache
RestApiDemo/obj/RestApiDemo.csproj.nuget.dgspec.json
RestApiDemo/obj/RestApiDemo.csproj.nuget.g.props
RestApiDemo/obj/RestApiDemo.csproj.nuget.g.targets
